@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 10px;
  margin-top: 10px; }

html {
  overflow-x: hidden; }

.wrapper {
  background: rgba(0, 0, 0, 0.4); }

.gravitas {
  text-transform: uppercase;
  letter-spacing: 0.4em;
  margin-left: 0.4em;
  font-size: 12px; }

.day {
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  margin-bottom: 7px; }

body {
  margin: 0px;
  background-image: -webkit-gradient(linear, left top, right top, from(#0F2027), to(#2C5364));
  background-image: linear-gradient(90deg, #0F2027, #2C5364);
  color: white;
  text-shadow: 0px 0px 4px #000000;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-size: 21px; }

input.react-autosuggest__input {
  margin-top: 40px;
  background: transparent;
  border: white solid 3px;
  height: 3em;
  width: 80%;
  border-radius: 3px;
  padding-left: 0.5em;
  color: white;
  font-size: 20px;
  padding-right: 0.5em;
  text-align: center;
  font-family: Poppins;
  background: rgba(255, 255, 255, 0.25);
  text-shadow: 0px 0px 4px #000000;
  max-width: 520px; }
  input.react-autosuggest__input::-webkit-input-placeholder {
    color: white;
    opacity: 1; }
  input.react-autosuggest__input:-ms-input-placeholder {
    color: white;
    opacity: 1; }
  input.react-autosuggest__input::-ms-input-placeholder {
    color: white;
    opacity: 1; }
  input.react-autosuggest__input::placeholder {
    color: white;
    opacity: 1; }
  input.react-autosuggest__input:focus {
    outline: none; }
    input.react-autosuggest__input:focus::-webkit-input-placeholder {
      color: rgba(255, 255, 255, 0.2);
      text-shadow: none; }
    input.react-autosuggest__input:focus:-ms-input-placeholder {
      color: rgba(255, 255, 255, 0.2);
      text-shadow: none; }
    input.react-autosuggest__input:focus::-ms-input-placeholder {
      color: rgba(255, 255, 255, 0.2);
      text-shadow: none; }
    input.react-autosuggest__input:focus::placeholder {
      color: rgba(255, 255, 255, 0.2);
      text-shadow: none; }

.react-autosuggest__suggestions-container--open {
  background: #141414;
  width: 85%;
  max-width: 520px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0px 0px 5px 5px; }
  .react-autosuggest__suggestions-container--open ul {
    list-style-type: none;
    padding: 0px;
    padding-bottom: 20px; }

.sunsetGraph {
  height: 3px;
  width: 80vw;
  max-width: 400px;
  background: rgba(255, 255, 255, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.5em;
  margin-bottom: 0.5em; }
  .sunsetGraph .sun {
    width: 16px;
    height: 16px;
    background: white;
    border-radius: 50%;
    margin-right: auto;
    -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out; }

.sunsetCaption {
  width: 80vw;
  max-width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px; }
  .sunsetCaption div {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  .sunsetCaption .SunriseTime {
    text-align: left; }
  .sunsetCaption .sunsetDivider {
    text-align: center; }
  .sunsetCaption .SunsetTime {
    text-align: right; }

.messages {
  margin-right: 0.5em;
  margin-left: 0.5em; }

.iconCircle {
  border-radius: 50%;
  padding: 1em;
  background: #141414;
  width: 3em;
  height: 3em;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1em; }

.scrollers {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 15px;
  background: rgba(255, 255, 255, 0.25);
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px 5px 0px 0px; }
  .scrollers .border {
    width: 2px;
    background-color: white;
    border-radius: 1px;
    height: 15px;
    margin-right: 15px;
    margin-left: 15px;
    -webkit-box-shadow: 0px 0px 4px #000000;
            box-shadow: 0px 0px 4px #000000; }
  .scrollers img {
    width: 7px; }
  .scrollers .gravitas {
    cursor: pointer;
    font-size: 0.5em; }

.weatherRow {
  margin-bottom: 17px;
  padding-top: 17px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  overflow-x: scroll;
  width: 100vw;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
  background: rgba(255, 255, 255, 0.25);
  -webkit-scroll-snap-type: x mandatory;
      -ms-scroll-snap-type: x mandatory;
          scroll-snap-type: x mandatory; }

::-webkit-scrollbar {
  width: 0px; }

.messages {
  margin-bottom: 2em; }

.weatherTile {
  scroll-snap-align: start;
  display: inline-block;
  padding: 2em;
  margin: 1em;
  font-size: 0.8em;
  min-width: 120px;
  background: #141414;
  color: white;
  border-radius: 5px;
  text-shadow: none; }
  .weatherTile h1 {
    font-size: 4.5em;
    margin: -15px;
    margin-top: -25px; }
  .weatherTile.white {
    background: transparent;
    text-shadow: 0px 0px 4px #000000;
    margin: 0px; }
  .weatherTile.weatherRow {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.25);
            box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.25); }
  .weatherTile .windArrow {
    -webkit-filter: invert(100);
            filter: invert(100);
    margin-top: 1.3em; }

.tags, .ShitTag, .WTF {
  position: fixed;
  top: 0;
  background: #141414;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 0.5em; }

.ShitTag {
  left: 0;
  background: #141414;
  border-radius: 0px 0px 5px 0px; }

.WTF {
  right: 0;
  border-radius: 0px 0px 0px 5px;
  cursor: pointer; }

.WTFexpanded {
  z-index: 10;
  overflow-y: scroll;
  background: #141414;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100vw;
  font-size: 0.8em; }
  .WTFexpanded .WTFwords {
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
    padding: 5em;
    font-size: 0.8em;
    text-align: left; }
    @media (max-width: 420px) {
      .WTFexpanded .WTFwords {
        padding-left: 1em; } }
    .WTFexpanded .WTFwords h1 {
      text-decoration: underline; }
    .WTFexpanded .WTFwords h2 {
      margin-top: 1.5em; }
    .WTFexpanded .WTFwords a {
      color: white; }
  .WTFexpanded .close {
    font-weight: 900;
    color: #141414;
    background: white;
    border-radius: 50%;
    position: fixed;
    top: 15px;
    right: 15px;
    width: 2em;
    height: 2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-shadow: none;
    cursor: pointer; }

.version {
  opacity: 0.5; }

@media (max-width: 560px) {
  .WTF {
    border-radius: 0px; }

  .social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 26px;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 0px 0px 0px 5px;
    position: fixed;
    right: 46px;
    top: 0px;
    background: #141414; }
    .social img {
      height: 17px;
      width: 17px;
      display: inline;
      margin-left: 7px;
      margin-right: 7px; } }
@media (min-width: 560px) {
  .social {
    border: 1px rgba(255, 255, 255, 0.175) solid;
    border-right: 0px;
    width: 20px;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px 0px 0px 5px;
    position: fixed;
    right: 0px;
    top: calc(50% - 54px);
    background: #141414; }
    .social img {
      max-width: 86%;
      display: block;
      margin-left: auto;
      margin-right: auto; }
    .social a:nth-child(2) img {
      margin-top: 15px;
      margin-bottom: 15px; } }
p {
  margin: 0px; }

.thick {
  font-weight: 900; }

.judgement {
  letter-spacing: 0.2em;
  margin-left: 0.2em;
  text-transform: uppercase; }

.Prompt {
  display: none; }

.downloadable {
  padding-bottom: 70px; }
  .downloadable .Prompt {
    border-radius: 3px 3px 0px 0px;
    background: #141414;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    bottom: 0;
    width: 100vw;
    color: white;
    height: 70px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 12px;
    border-top: 1px solid #464646;
    cursor: pointer; }
    .downloadable .Prompt div {
      text-align: left;
      padding-right: 15px;
      padding-left: 15px; }
    .downloadable .Prompt .gravitas {
      margin-left: 0px;
      border-bottom: 1px solid white; }

.iosPrompt {
  border-radius: 3px 3px 0px 0px;
  background: #141414;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  bottom: 17px;
  width: 90vw;
  margin-right: 5vw;
  margin-left: 5vw;
  color: white;
  height: 70px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 12px;
  border: 1px solid #464646;
  border-radius: 3px;
  padding-top: 18px; }
  .iosPrompt div {
    padding-right: 15px;
    padding-left: 15px; }
  .iosPrompt .gravitas {
    margin-left: 0px;
    border-bottom: 1px solid white;
    margin-bottom: 7px; }
  .iosPrompt img {
    max-height: 20px; }
    .iosPrompt img:not(.downArrow) {
      margin-bottom: -6px; }
  .iosPrompt .downArrow {
    margin-bottom: -28px; }

.close {
  position: absolute;
  top: 8px;
  right: 3px;
  font-weight: 900;
  cursor: pointer; }

.iosBuffer {
  height: 110px; }

.center {
  text-align: center; }

.weather01d {
  background: url(../img/sun.jpg) no-repeat center center fixed;
  background-size: cover; }

.weather01n {
  background: url(../img/clearnight.jpg) no-repeat center center fixed;
  background-size: cover; }

.weather02d {
  background: url(../img/fewclouds.jpg) no-repeat center center fixed;
  background-size: cover; }

.weather02n {
  background: url(../img/fewcloudnight.jpg) no-repeat center center fixed;
  background-size: cover; }

.weather03d {
  background: url(../img/cloudday.jpg) no-repeat center center fixed;
  background-size: cover; }

.weather03n {
  background: url(../img/cloudnight.jpg) no-repeat center center fixed;
  background-size: cover; }

.weather04d {
  background: url(../img/brokencloudday.jpg) no-repeat center center fixed;
  background-size: cover; }

.weather04n {
  background: url(../img/brokencloudnight.jpg) no-repeat center center fixed;
  background-size: cover; }

.weather09d {
  background: url(../img/showerday.jpg) no-repeat center center fixed;
  background-size: cover; }

.weather09n {
  background: url(../img/showernight.jpg) no-repeat center center fixed;
  background-size: cover; }

.weather10d {
  background: url(../img/rainday.jpg) no-repeat center center fixed;
  background-size: cover; }

.weather10n {
  background: url(../img/rainnight.jpg) no-repeat center center fixed;
  background-size: cover; }

.weather11d {
  background: url(../img/thunderday.jpg) no-repeat center center fixed;
  background-size: cover; }

.weather11n {
  background: url(../img/thundernight.jpg) no-repeat center right fixed;
  background-size: cover; }

.weather13d {
  background: url(../img/snowday.jpg) no-repeat center center fixed;
  background-size: cover; }

.weather13n {
  background: url(../img/snownight.jpg) no-repeat center right fixed;
  background-size: cover; }

.weather50d {
  background: url(../img/mistday.jpg) no-repeat center center fixed;
  background-size: cover; }

.weather50n {
  background: url(../img/mistnight.jpg) no-repeat center center fixed;
  background-size: cover; }

.spinner {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 100px auto; }

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: white;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out; }

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s; }

@-webkit-keyframes sk-bounce {
  0%, 100% {
    -webkit-transform: scale(0); }
  50% {
    -webkit-transform: scale(1); } }
@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0); }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1); } }

/*# sourceMappingURL=style.css.map */